
body{
    background-color: white;
}
.container{
    
    padding-left: auto;
    padding-right: auto;
    padding-top: 48%;
    padding-bottom: 48%;
    margin: auto;
    border: 3px solid green;
    text-align: center;

}


#logInForm{
    font-size: 22px;
}
